.modal{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    z-index: 999;
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
}