html, body{
    max-width: 100%;
    overflow-x: hidden;
}

.modal{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-height: max-content; /*retirar para responsividade*/
    width: 100vw;
    color: #ffffff;
    z-index: 999;
    display: none;
}

.visible{
    display: flex;
    justify-content: center;
}

.invisible{
    display: none;
}

.modal-main{
    width: 100%;
    display: flex;
    min-height: 100vh;
    max-height: max-content;
    background-color: #555;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.modal-section{
    margin-bottom: 40px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #222;
}

.close-btn{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    right: 50px;
}

.close-btn:hover{
    cursor: pointer;
}

.poke-img{
    width: 12.5rem;
    height: 13rem;
    margin-top: 10px;
}

.name-section{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

.name-section > span{
    text-transform: capitalize;
}

.section-padding{
    padding: 15px 15px;
    width: 100%;
}

.description-section{
    position: relative;
    display: flex;
    flex-direction: column;
}

.description{
    padding: 10px 20px;
    text-align: justify;
}

.type-section{
    position: relative;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.type-section > ul > li{
    font-weight: 600;
}

.title{
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
}

.item::after{
    position: absolute;
    content: "";
    background: #aaa;
    bottom: 0;
    height: 2px;
    width: 70%;
    display: flex;
    align-self: center;
}

.item:last-child::after{
    display: none;
}

.abilities{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 35px;
}

.ability > p{
    text-decoration: underline;
    font-size: 1.1rem;
    padding: 10px 0px;
    text-transform: capitalize;
}

.stats{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.stats > p{
    font-size: 1.1rem;
}

.stats > span{
    padding: 10px 0px;
}

.stat{
    text-transform: capitalize;
}